<main class="listedit-container">

    <%= form_with model: @list, url:update_lists_path(@list) ,method: :patch, local: true do |f| %>
      <div class="listedit-info">
        <div class="listedit-info__list-name">
          <%= f.text_field :list_name, autofocus: true, autocomplete: "list_name", class:"listedit-info__list-name--form" %>
        </div>

        <div class="listedit-info__list-comment">
          <%= f.text_field :list_comment ,class:"listedit-info__list-comment--form" %>
        </div>

        <div class="listedit-info__list-update">
          <%= f.submit "更新する", class:"listedit-info__list-update--btn" %>
        </div>
      </div>
    <% end %>
</main>