<main class="shopnew-container">

<%= form_with model: @shop, method: :patch, local: true do |f| %>
  <div class="shopnew-info">
    <div class="shopnew-info__shop-name">
      <%= f.text_field :shop_name, autofocus: true, autocomplete: "list_name", class:"shopnew-info__shop-name--form" %>
    </div>

    <div class="shopnew-info__shop-comment">
      <%= f.text_field :shop_comment, class:"shopnew-info__shop-comment--form"%>
    </div>

    <div class="shopnew-info__shop-submit">
      <%= f.submit "更新する",  class:"shopnew-info__shop-submit--form" %>
    </div>
  
  </div>
  
<% end %>
</main>