<main class="shopall-container">

<div class="googlemaps">
<div id='map', style="width: 70vw; height: 400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"]%>&callback=initMap" async defer></script>
<%= javascript_pack_tag 'googlemaps/application' %>
</div>

  <sction class="item-display">
    <div class="item-array">
      <% @shops.each do |s| %>
        <div class="item-array__item-detail">
          <%= link_to image_tag("kaisen.jpeg", class:"item-array__item-detail--img"), shop_path(s.id) %>
          <%= link_to s.shop_name, shop_path(s.id) , class:"item-array__item-detail--name" %>
        </div>
      <% end %>
    </div>
  </section>
</main>
