<main class="shopall-container">

  <p class="googlemaps">googlemaps</p>

  <sction class="shop-container">
    <div class="shop-wrap">
      <% @shops.each do |s| %>
        <div class="shop-wrap__shop-item">
          <%= link_to image_tag("kaisen.jpeg", class:"shop-wrap__shop-item--img"), shop_path(s.id) %>
          <%= link_to s.shop_name, shop_path(s.id) , class:"shop-wrap__shop-item--name" %>
        </div>
      <% end %>
    </div>
  </section>
</main>
