<p>店名：<%= @shop.shop_name %></p><br>
<p>コメント：<%= @shop.shop_comment %></p>

<%= link_to '編集', edit_shop_path , class:"#" %>
<%= link_to '削除', destroy_shops_path , class:"#",
method: :delete, data: { confirm: '削除しますか？' } %>