<main class="item-show">
  <div class="item-data">

    <div class="item-data__item-name">
      <%= @shop.shop_name %>
    </div>

    <div class="item-data__item-comment">
      <%= @shop.shop_comment %>
    </div>

    <% if user_signed_in? && current_user.id == @shop.user_id %>
      <div class="item-data__item-edit">
        <%= link_to '編集', edit_shop_path, class:"item-data__item-edit--form" %>
        <%= link_to '削除', destroy_shops_path, class:"item-data__item-edit--form", method: :delete, data: { confirm: '削除しますか？' } %>
      </div>
    <% end %>
  </div>

  <p class="googlemaps">googlemaps</p>
  
</main>