<% if @shop.errors.any? %>
  <div id="error_explanation">
    <div>
    <p><%= @shop.errors.count %>つのエラー</p>
    </div>
    <ul>
    <% @shop.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>