<% if @user_or_list == "1"%>
  <h1>User</h1>
    <% @users.each do |u| %>
      <%= u.user_name %>
    <% end %>

<% else %>
  <h2>List</h2>
    <% @lists.each do |l| %>
      <%= l.list_name %>
    <% end %>
<% end %>