.shopdetail-container {
  height: 100vh;
  width: 100vw;
}

.shop-info {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

.shop-info__shop-name {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 20px;
  min-width: 200px;
}

.shop-info__shop-comment {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 20px;
  min-width: 320px;
  flex-grow: 2;
}

.shop-info__shop-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 70px;
  margin: 5px;
}

.shop-info__shop-edit--form {
  border: 1px solid black;
  margin: 5px 5px;
  padding: 10px 10px;
  text-align: center;
  min-width: 100px;
}
