<div class="dropdown-btn">
  <button class="dropdown-btn__dropdown-icon" id="dropdown-btn">
    <i class="fas fa-angle-down fa-2x dropdown-btn__dropdown-icon--fontawesome"></i>
  </button>
 <div class="dropdown-menu">
    <ul class="dropdown-list">
      <li class="dropdown-list__dropdown-item">
        <%= link_to 'プロフィールを編集', edit_user_registration_path, class:"dropdown-list__dropdown-item--link" %>
      </li>
      <li class="dropdown-list__dropdown-item">
        <%= link_to 'ログアウト', destroy_user_session_path, class:"dropdown-list__dropdown-item--link" ,method: :delete %>
      </li>
      <li class="dropdown-list__dropdown-item">
        <%= link_to 'リストを追加', new_list_path, class:"dropdown-list__dropdown-item--link" %>
      </li>
    </ul>
  </div>
</div>


<%= javascript_pack_tag "dropdown/application" %>