<% flash.each do |key, value| %>
  <div class="flash-container">
    <p class="alert alert-<%= key %>">
      <span class="flash-container__flash-success"><%= value %></span>
    </p>
  </div>
<% end %>