<div class="others-info__related-info">
      <h3 class="others-info__related-info--title">関連情報</h3>
      <dl class="item-detail">
        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">価格帯</dt>
          <dd class="item-detail__item-table--content">¥3000~5000</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">駐車場</dt>
          <dd class="item-detail__item-table--content">なし　近隣にコインパーキングあり</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">アクセス</dt>
          <dd class="item-detail__item-table--content">最寄駅から徒歩7分</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">外部URL</dt>
          <dd class="item-detail__item-table--content">食べログURL</dd>
        </div>
      </dl>
    </div>