@import '../mixin/color';

.error-container {
  margin: 0 auto;
  text-align: center;
  width: 25%;
  min-width: 300px;
  border-radius: 4px;
  background:	#FFCC99;
  padding: 10px 0px;

  &__error-count {

    &--title {
      font-size: 20px;
      color: 	$color-red;
      font-weight: 600;
    }
  }

  &__error-each {

    &--list {
      font-size: 14px;
      text-decoration: none;
      list-style-position: inside;
      text-align: left;
      margin: 0.5em 20px;
    }
  }
}