@import '../mixin/color';

.flash-container {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  border-radius: 4px;
  background:	$background-color-white;
  padding: 10px 0px;

  &__flash-success {
    color: $color-charcoal-grey;
    font-weight: 600;
  }
}