.logedin-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  border-bottom: 1px solid black;

  &__header-title {
    font-size: 24px;

    &--link {
      color: black;
    }
  }

  &__header-search {

  }

  &__header-link {

    &--logout {
      color: black;
    }
  }
}