@import '../mixin/icon';

.logedin-header {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  background: #fff;
  border: none;


  // 検索ボックス　ここから
  &__header-search {
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    min-width: 200px;
    width: 50vw;
    background:#f2f2f2;

    &--select {
      height: 2.3em;
      background:#f2f2f2;
      border: none;
      border-right: 1px solid #999;
      width: 75px;

      &:focus {
        outline: 0;
      }
    }

    &--form {
      border: none;
      height: 2.0em;
      background:#f2f2f2;
      width: 75%;
      padding-left: 1% ;

      &:focus {
        outline: 0;
      }
    }

  }
// 検索ボックス　ここまで


  &__header-link {
    display: flex;

    &--title {
      color: black;
      font-size: 20px;
    }

    &--mypage {
      @include  icon;
      border: 1px solid black;
    }

    &--btn {
      color: black;
      font-size: 20px;
    }

    &--plus {
      display: inline-block;
      color: black;
      font-size: 30px;
      line-height: 60px;
    }
  }
}