@import '../mixin/icon';

.logedin-header {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  border-bottom: 1px solid black;
  background-color: #CCCCCC	;

  &__header-icon {

    &--link {
      @include  icon($height:50px,$width:50px);
    }
  }

  // 検索ボックス　ここから
  &__header-search {
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    min-width: 260px;
    width: 50vw;

    &--select {
      height: 2.3em;
      background-color: #CCCCCC	;
      border: none;
      border-right: 1px solid #999;
      width: 75px;

      &:focus {
        outline: 0;
      }
    }

    &--form {
      border: none;
      height: 2.0em;
      background-color: #CCCCCC	;
      width: 75%;
      padding-left: 1% ;

      &:focus {
        outline: 0;
      }
    }

  }
// 検索ボックス　ここまで


  &__header-link {
    display: flex;

    &--btn {
      color: black;
      font-size: 10px;
    }
  }
}