.header-container {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  height: 50px;
  border-bottom: 1px solid black;

  // background: gray;

  &__header-title {
    font-size: 24px;

    &--link {
      color: black;
    }
  }

  &__header-nav {
    margin-left: auto;
  }
}

.header-ul {

  &__header-list {
    display: inline;
    padding: 17px 10px;
    &:hover{
      opacity: 0.5 ;
    }

    &--link {
      color: 	#333300;
    }
  }
}