// list,shop_show の _name, _comment の部分

@import '../mixin/btn';
@import '../mixin/icon';

.item-show {
  height: 100vh;
  width: 100vw;
}

.list-show {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list-edit {
    margin-left: 10px;
  }
}

.item-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto 10px;

  &__item-name {
    margin: 0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-comment {
    font-size: 14px;
    // margin: 10px auto 0px;
  }

  &__item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 5px auto;
  }

  &__item-user {
    font-size: 12px;
    // margin: 10px auto 20px;

    &--image {
      @include icon;
      border: 1px solid black;
    }

    &--link {
      color: black;
    }
  }

  &__item-photo {

    &--photo {
      width: 200px;
      height: 140px;
      // ないと他のが適用されちゃう？後で確認
      border: none;
      border-radius: 10px;
      // 外接リサイズ
      object-fit: cover;

      margin: 5px auto;
    }
  }

  &__item-edit {
    &--form {
      text-align: center;
      color: black;
      font-size: 20px;
      color: #354e59;
    }
  }
}

.item-address {
 padding: 0 5px;
}

.item-tell {
  padding: 0 5px;
  border-left: 1px solid #999;
}

.item-official {
  padding: 0 5px;
  border-left: 1px solid #999;
}

.likes-title {
  display: flex;
  justify-content: center;
  align-items: center;

  &__like-haert {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__like {
      color: #999;
      font-size: 24px;
      margin: 20px auto 10px;
    }

    &__unlike {
      color: #354e59;
      font-size: 24px;
      margin: 20px auto 10px;
    }
  }

  &__add-list {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--link {
      color: #999;
      font-size: 24px;
      margin: 20px auto 10px;
    }
  }
}

.item-others {
  display: flex;
  justify-content: center;
  // align-items: center;
  background: #f2f2f2;
  min-height: 500px;

  &__item-info {
    height: 300px;
    width: 300px;
    padding: 10px;

    &--title  {
      font-size: 20px;
      margin:0px 0px 20px;
    }
  }
}

.item-detail {

  &__item-table {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 10px 0px;

    &--title {
      width: 100px;
    }

    &--content {
      width: 180px;
    }
  }
}