// list,shopの新規登録・編集画面
// _name, _comment, submit btn の部分

@import '../mixin/btn';
@import '../mixin/form';

.item-input {
  height: 14vh;
  width: 100vw;

  &__item-info {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  &__item-search {
    display: flex;
  }
}

.item-content {
  width: 70%;
  // min-width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // リスト登録のラベル(dt)
  &__definition-term {
    // font-size: 24px;
    // margin: 20px auto 10px;
    width: 150px;
    // border: solid;
    &--name {

    }
  }

  // リストネームのフォーム(dd)
  &__name-definition{
    // border: solid;
    font-size: 16px;
    // margin: 20px auto 10px;
    // width: 300px;
    margin: 0 auto;

    &--form {
      @include sign($width:400px);
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #999;
      border-radius: 0;
    }
  }

  // リストコメントのフォーム(dd)
  &__comment-description {
    // border: solid;
    // margin: 10px auto 20px;
    margin: 10px auto;

    &--form {
      // border: solid;
      @include sign($width:400px);
      height: 100px;
      font-size: 16px;
      border: none;
      border: 1px solid #999;
      border-radius: 0;
    }
  }

  &__item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    // border: 5px solid black;

    &--photo {
      width: 200px;
      height: 140px;
      border-radius: 20px;
      // 外接リサイズ
      object-fit: cover;
      opacity: 0.7;
    }

    &--mark {
      font-size: 20px;
    }

    &--select {
      margin: 10px auto 0px;
      display: none;
    }

    &--checkbox {

      &:checked{

      }
    }
  }

  &__new-photo {
    margin: 20px;

    &--link {
      // font-size: 50px;
      // background: chocolate;
    }
  }

  &__item-submit {
    display: flex;
    align-items: center;
    min-width: 70px;

    &--btn {
      @include btn($background:#fff,$height:30px,$width:auto);
      margin: 10px 5px;
    }
  }
}

.testes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}