// list,shop_show の _name, _comment の部分
// item_arrayはitem_displayにあります

@import '../mixin/btn';
@import '../mixin/icon';
@import '../mixin/color';

// ページ全体
.item-show {
  height: 100vh;
  width: 100vw;

  // _name,_commentなどgooglemapより上全体
  &__item-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto 10px;

  }
}

// list_name, shop_name,list_edit linkの親要素(flex対応)
.show-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  // list_name, shop_name
  &__item-name {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // list_edit link
  &__list-edit {
    margin-left: 20px;

    &--link {
      color: $color-gray;
      font-size: 24px;
    }
  }

  // list_shop_edit, like
  &__shop-edit {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

   &--like {
    color: $color-gray;
    font-size: 24px;
   }

   &--unlike {
    color: $color-navy;
    font-size: 24px;
    }

    &--link {
      color: $color-gray;
      font-size: 24px;
    }
  }

  // shop_nameの下 住所、電話番号、公式URL
  &__item-address {
    padding: 0 5px;
  }

  &__item-tell {
     padding: 0 5px;
     border-left: 1px solid $color-gray;
  }

  &__item-official {
     padding: 0 5px;
     border-left: 1px solid $color-gray;
  }

  &__item-photo {
    width: 230px;
    height: 150px;
    // ないと他のが適用されちゃう？後で確認
    border: none;
    border-radius: 10px;
    // 外接リサイズ
    object-fit: cover;

    margin: 5px 10px;
  }
}

// listを作成したユーザー
.show-user {
  font-size: 12px;
  margin: 10px;

  &__user-image {
    @include icon;
    border: 1px solid $color-black;
  }

  &__user-name {
    color:$color-black;
  }
}

// 以下shopの関連情報欄
.others-info {
  display: flex;
  justify-content: center;
  background: $background-color-white;
  min-height: 500px;
  width: 100vw;

  padding-top: 20px;

  &__related-info {
    height: 300px;
    width: 400px;
    padding: 20px 20px 20px 50px;

    // 「関連情報」
    &--title  {
      font-size: 20px;
    }
  }
}

// 関連情報　詳細
// dl
.item-detail {

  // div => dt + dd
  &__item-table {
    display: flex;
    align-items: center;
    margin: 10px 0px;

    // dt
    &--title {
      width: 100px;
    }

    // dd
    // &--content {

    // }
  }
}