// list,list_shopの新規登録・編集画面
// _name, _comment, submit btn の部分
// 店舗情報(住所や関連情報) => item_show を参照

@import '../mixin/btn';
@import '../mixin/form';
@import '../mixin/color';

// ページ全体
.item-input {
  height: 100vh;
  width: 100vw;

  // 入力フォーム
  &__item-info {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

}

// list_new, list_edit
// 入力フォームの中身
.item-content {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  // リスト登録のラベル(dt)
  &__definition-term {
    width: 150px;
  }

  // リストネームのフォーム(dd)
  &__name-definition{
    font-size: 16px;
    margin: 0 auto;

    &--form {
      @include sign($width:400px);
      font-size: 16px;
      border: none;
      border-bottom: 1px solid $color-gray;
      border-radius: 0;
    }
  }

  // リストコメントのフォーム(dd)
  &__comment-description {
    margin: 10px auto;

    &--form {
      @include sign($width:400px);
      height: 300px;
      font-size: 16px;
      border: none;
      border: 1px solid $color-gray;
      border-radius: 0;
    }
  }

  // list_shop
  // shopの写真投稿フォーム
  &__item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &--select {
      margin: 10px auto 0px;
      display: none;
    }
  }

  // 追加、変更、削除ボタン
  &__item-submit {
    min-width: 70px;
    display: flex;
    justify-content: center;

    &--btn {
      @include btn($background: $color-white, $height:30px, $width:auto);
      margin: 10px 30px;
    }

    &--destroy {
      @include btn($background: $color-white, $height:30px, $width:auto);
      color: $color-red;
      border-color: $color-red;
      margin: 10px 30px;
    }
  }
}

// 登録済み写真の削除
.uploded-photo {
  margin: 10px;

  &__photo-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

    &--checkbox {
      width: 200px;
      height: 140px;
      border-radius: 20px;
      // 外接リサイズ
      object-fit: cover;
    }
  }
}