// list,shopの新規登録・編集画面
// _name, _comment, submit btn の部分

@import '../mixin/btn';
@import '../mixin/form';

.item-input {
  height: 14vh;
  width: 100vw;

  &__item-search {
    display: flex;
  }
}

.item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  text-align: center;

  &__item-name {
    font-size: 24px;
    margin: 20px auto 10px;

    &--form {
      @include sign($width:300px);
    }
  }

  &__item-comment {
    font-size: 16px;
    margin: 10px auto 20px;
    width: 100%;
    min-width: 280px;
    margin: 0 auto;

    &--form {
      @include sign($width:80%);
      height: 30px;
      font-size: 16px;
      margin: 0 auto;
    }
  }

  &__item-photo {
    position: relative;

    &--photo {
      border: 1px solid black;
      width: 200px;
      height: 140px;
      border-radius: 20px;
      // 外接リサイズ
      object-fit: cover;
  
      margin: 10px auto;

      opacity: 0.7;
    }

    &--mark {
      position: absolute;
      top: 45%;
      left: 49%;
      z-index: 1;
    }

    &--select {
      margin: 10px auto 0px;
      display: none;
    }
  }

  &__item-submit {
    display: flex;
    align-items: center;
    min-width: 70px;

    &--btn {
      @include btn($background:#fff,$height:30px,$width:auto);
      margin: 10px 5px;
    }
  }
}