// list,shop_show の _name, _comment の部分

.item-show {
  height: 100vh;
  width: 100vw;
}

.item-data {
  // border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 10px;

  &__item-name {
    font-size: 24px;
    margin: 20px auto 10px;
  }

  &__item-comment {
    font-size: 16px;
    margin: 10px auto 20px;
  }

  &__item-photo {


    &--photo {
      border: 1px solid black;
      width: 200px;
      height: 140px;
      border-radius: 20px;
      // 外接リサイズ
      object-fit: cover;
  
      margin: 10px auto;
    }
  }

  &__item-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--form {
      text-align: center;
      color: black;
      font-size: 12px;
    }
  }
}