.serach-pagination {
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px auto;

  &__nav-pagination {
    min-width: 300px;
    display: flex;
    justify-content: center;
  }
}

.pagination-link {
  color: #444;
  background: #F2F2F2;
  width : calc(100% / 9) ;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__pagination-page {
    color: #999;
    background: #fff;
    line-height: 50px;
    // リンクを親要素に拡張
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      background: #F2F2F2;
    }
  }
}