.top-container {
  height: 60vh;

  // 背景写真
  background-image: url(haikei.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  // 要素配列
  display:flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  &__top-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    padding: 8%;
  }
}

.top-ul {
  width: 100%;
  text-align: center;

  &__top-list {
    list-style: none;
    display: inline;
    padding: 16px;
    background-color: #ffa07a;
    margin-left: 20px;

    &:hover{
      opacity: 0.9 ;
    }

    &--link {
      color: 	#333300;
      padding: 16px;
      // display: block

    }
  }
}