.follow-container {
  width: 100vw;
  height: 100vh;
  padding-top: 0.5%;
}

.follow-item {
  width: 50%;
  min-width: 300px;
  margin: 0.1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
}

.follow-item__follow-image {
  margin: 0 1%;
}

.follow-item__follow-image--icon {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  align-items: center;
  vertical-align: middle;
}

.follow-item__follow-user {
  margin: 0 1%;
  margin-right: auto;
}

.follow-item__follow-btn {
  border: 1px solid black;
  margin: 0.2% 1%;
  padding: 3px 10px;
  border-radius: 20px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.follow-item__follow-btn--unfollow {
  width: 120px;
}

.follow-item__follow-btn--following {
  width: 98px;
}
