@import '../mixin/btn';
@import '../mixin/icon';
@import '../mixin/color';

.follow-container {
  width: 100vw;
  height: 100vh;
  padding-top: 0.5%;
}

.follow-item {
  width: 50%;
  min-width: 300px;
  margin: 0.1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  height: 40px;

  &__follow-image {
    margin: 0 1%;

    &--icon {
      @include  icon;
      border: 1px solid $color-black;
    }
  }

  &__follow-user {
    margin: 0 1%;
    margin-right: auto;

    &--link {
      color: $color-black;
    }
  }

  &__follow-comment {
    margin: 0 auto;

    &--profile {
      font-size: 16px;
      color:$color-charcoal-grey;
    }
  }

  &__unfollow-btn {
    @include btn ;
    border-color: $color-navy;
    background-color: $background-color-white;

    &--unfollow {
      width: 100px;
      color: $color-navy;
      text-align: center;
    }
  }

  &__follow-btn {
    @include btn ;
    border-color: $color-gray;

    &--following {
      width: 100px;
      color: $color-gray;
      text-align: center;
    }

  }
}
