@import '../mixin/btn';
@import '../mixin/icon';

.follow-container {
  width: 100vw;
  height: 100vh;
  padding-top: 0.5%;
}

.follow-item {
  width: 50%;
  min-width: 300px;
  margin: 0.1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;

  &__follow-image {
    margin: 0 1%;

    &--icon {
      @include  icon;
    }
  }

  &__follow-user {
    margin: 0 1%;
    margin-right: auto;

    &--link {
      color: black;
    }
  }

  &__follow-btn {
    @include btn ;

    &--unfollow {
      width: 120px;
      color: black;
    }

    &--following {
      width: 98px;
      color: black;
    }

  }
}
