.follow-container {
  width: 100vw;
  height: 100vh;
  padding-top: 0.5%;
}

.follow-item {
  width: 50%;
  min-width: 300px;
  margin: 0.1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;

  &__follow-image {
    margin: 0 1%;

    &--icon {
      border: 1px solid black;
      height: 30px;
      width: 30px;
      border-radius: 100px;
      align-items: center;
      vertical-align: middle;
    }
  }

  &__follow-user {
    margin: 0 1%;
    margin-right: auto;

    &--link {
      color: black;
    }
  }

  &__follow-btn {
    @include btn ;

    &--unfollow {
      width: 120px;
      color: black;
    }

    &--following {
      width: 98px;
      color: black;
    }

  }
}