.listdetail-container {
  height: 100vh;
  width: 100vw;
}

.list-info {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 10px;

  &__list-name {
    border: 1px solid black;
    margin: 10px 5px;
    padding: 20px;
    min-width: 200px;

    &--form {

    }
  }

  &__list-comment {
    border: 1px solid black;
    margin: 10px 5px;
    padding: 20px;
    min-width: 320px;
    flex-grow: 2;

    &--form {

    }
  }

  &__list-edit {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // padding: 20px;
    min-width: 70px;
    margin: 5px;
    
    &--form {
      border: 1px solid black;
      margin: 5px 5px;
      padding: 10px 10px;
      text-align: center;
      min-width: 100px;
    }
  }
}

.googlemaps {
  border: 1px solid black;
  width: 100vw;
  min-height: 400px;
  // margin: 10px;
}

.shop-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin: 10px 0px;
  width: 100%;

  &__shop-all {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
    justify-content: flex-start;

    &--img {
      border: 1px solid black;
      height: 200px;
      width: 200px;

    }

    &--title {
      border: 1px solid black;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 1.1;
    }
  }
}



//  ショップ
.shop-container {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.shop-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;

  &__shop-all {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
    justify-content: flex-start;

    &--img {
      border: 1px solid black;
      height: 200px;
      width: 200px;
    }

    &--title {
      border: 1px solid black;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 1.1;
    }
  }

  &__shop-item {
    width: 200px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: flex-start;
    flex-wrap:wrap;
    
    &--img {
      border: 1px solid black;
      height: 200px;
      width: 200px;
    }

    &--name {
      border: 1px solid black;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 1.1;
    }
  }
}