@import '../mixin/icon';
@import '../mixin/color';

// ページ全体
.mypage-container {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}

// ユーザー情報(ユーザーネーム、フォロー数など)
.mypage-content {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__mypage-icon {
    &--image {
      @include icon($height:120px,$width:120px);
    }
  }

  //ユーザーネーム、フォローネーム
  &__mypage-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-width: 300px;
    margin: 10px 10px 0px 20px;

    &--name {
      font-size: 30px;
      font-weight: 600;
    }
  }

  &__mypage-comment {
    font-size: 14px;
  }

  &__maypage-follow {
    display: flex;
    color: $color-black;
    margin: 5px auto;

    &--link {
      color: $color-black;
      width: 110px;
      font-size: 14px;
      line-height: 30px;
    }
  }
}