@import '../mixin/icon';
@import '../mixin/color';

// ページ全体
.mypage-container {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}

// ユーザー情報(ユーザーネーム、フォロー数など)
.mypage-content {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  &__mypage-icon {
    &--image {
      @include icon($height:120px,$width:120px);
    }
  }

  //
  &__mypage-info {
    display: flex;

    &--name {
      font-size: 30px;
      font-weight: 600;
      margin: 20px auto 10px;
    }
  }

  &__mypage-comment {
    font-size: 14px;
  }

  &__maypage-follow {
    display: flex;
    color: $color-black;
    margin: 5px auto;

    &--link {
      color: $color-black;
      width: 110px;
      font-size: 14px;
      line-height: 30px;
    }
  }
}