@import '../mixin/icon';

.mypage-container {
  width: 100vw;
  height: 100vh;
  margin-top: 20px;
}

.mypage-content {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  &__mypage-icon {
    &--image {
      @include icon($height:100px,$width:100px);
    }
  }

  &__mypage-name {
    font-size: 30px;
    font-weight: 500;
    margin: 20px auto 10px;
  }

  &__mypage-comment {
    font-size: 14px;
  }

  &__maypage-follow {
    display: flex;
    color: 	#333300;
    margin: 5px auto;
  
    &--link {
      color: 	#333300;
      width: 110px;
      font-size: 14px;
      line-height: 30px;
    }
  }
}
