@import '../mixin/array';

.shopdetail-container {
  height: 100vh;
  width: 100vw;
}

.shop-info {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;

  &__shop-name {
  @include main-name;

    &--form {

    }
  }

  &__shop-comment {
    @include main-comment;

    &--form {

    }
  }

  &__shop-edit {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // padding: 20px;
    min-width: 70px;
    margin: 5px;
    
    &--form {
      border: 1px solid black;
      margin: 5px 5px;
      padding: 10px 10px;
      text-align: center;
      min-width: 100px;
    }
  }
}