header {
  display: none;
}

.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__signup-title {
    font-size: 30px;
    margin: 20px;
  }

  &__signup-subtitle {
    font-size: 18px;
    margin: 10px;
  }
}

.signup-form {
  width: 30%;
  min-width: 250px ;

  &__signup-item {
    position: relative;
    width: 80%;
    margin: 20px auto;
    text-align: center;

    &--form {
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      border: 2px solid #a9a9a9;
      border-radius: 10px;
      height: 40px;
      font-size: 24px;
      outline: none;
    }

    &--submit {
      margin: 0 auto;
      background: #ffebcd;
      width: 80%;
      border-radius: 6px;
      height: 34px;
    }
  }
}