@import '../mixin/btn';
@import '../mixin/form';

.signin-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__signin-title {
    font-size: 30px;
    margin: 20px;
    padding-top: 30px;
  }

  &__signin-rules {
    width: 25%;
    min-width: 200px ;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__move-signup {

  }
}

.signin-form {
  width: 30%;
  min-width: 250px;
  // max-width: 300px;

  &__signin-item {
    width: 80%;
    margin: 20px auto;
    text-align: center;

    &--form {
      @include sign($width:100%);
    }

    &--submit {
      @include btn($background:#ffebcd,$height:40px,$width:80%);

      margin: 0 auto;
    }
  }

  &__signin-condition {
    text-align: center;

    &--check {

    }

    &--remember {

    }

  }

  &__forget-password {
    text-align: center;
    margin: 5px;
    
    &--link{

    }
  }
}