@import '../mixin/btn';
@import '../mixin/form';
@import '../mixin/color';

.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__signup-title {
    font-size: 30px;
    margin: 20px;
    padding-top: 30px;
  }

  &__signup-subtitle {
    font-size: 18px;
    margin: 10px;
  }

  &__signup-rules {
    width: 25%;
    min-width: 200px ;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
  }

  // &__move-signin {

  // }
}

.signup-form {
  width: 30%;
  min-width: 250px ;

  &__signup-item {
    position: relative;
    width: 80%;
    margin: 20px auto;
    text-align: center;

    &--form {
      @include sign($width:100%);
    }

    &--submit {
      @include btn($background: $background-color-white, $height:40px, $width:80%);
      margin: 0 auto;
    }
  }
}