@import '../mixin/btn';
@import '../mixin/color';

.top-container {
  height: 60vh;

  // 背景写真
  background-image: url(haikei.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  // 要素配列
  display:flex;
  flex-direction: column;
  align-items: center;

  &__top-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    padding: 8%;
  }
}

.top-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__top-list {
    @include btn($background: $background-color-white, $height:40px, $width:140px);

    &:hover{
      opacity: 0.9 ;
    }

    &--link {
      color: $color-black;
      padding: 16px;
    }
  }
}