@import '../mixin/form';
@import '../mixin/btn';
@import '../mixin/icon';

.useredit-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__useredit-title {
    font-size: 30px;
    margin: 20px;
    padding-top: 30px;
  }
}

.useredit-form {
  width: 50%;
  min-width: 250px ;

  &__useredit-item {
    position: relative;
    width: 80%;
    margin: 20px auto;
    text-align: center;

    &--image {
      @include icon($height:100px,$width:100px);
    }

    &--text {
      font-size: 20px;
      line-height: 40px;
    }

    &--form {
      @include sign;
      max-width: 300px;
    }

    &--submit {
      @include btn($background:#ffebcd,$width:80%);
      margin: 0 auto;
      // height: 34px;
      max-width: 250px;
    }
  }
}

.useredit-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 250px ;
  padding-top: 20px;

  &__useredit-subtitle{
    font-size: 18px;
    margin: 10px;
    
  }
  
  &__useredit-confirm {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 10px;

    &--deletebtn {
      @include btn($background:#ffebcd,$height:16px,$width:78px);
      margin: 0 auto;
    }

  }

  &__useredit-btn {
    @include btn($background:#fff,$height:26px,$width:40px);
    margin: 10px;
    padding: 5px;

    &--back {
      // color: black;
      font-size: 12px;
    }
  }
}