// list_name,shop_name(ページ上部)
@mixin main-name {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 20px;
  min-width: 200px;
}

// list_comment,shop_comment(ページ上部)
@mixin main-comment {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 20px;
  min-width: 320px;
  flex-grow: 2;
}