// list_name,shop_name(ページ上部)
@mixin main-name {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 20px;
  min-width: 200px;
}

// list_comment,shop_comment(ページ上部)
@mixin main-comment {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 20px;
  min-width: 320px;
  flex-grow: 2;
}

// 追加リンクとリスト・ショップ一覧
@mixin item-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin: 10px 0px;
  width: 80%;
  margin: 0 auto;
}

// 追加リンクかリスト・ショップへのリンク
@mixin item {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

// リスト・ショップの写真
@mixin item-image {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

// list_name, shop_name(ページ下部)
@mixin item-name {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 1.1;
}