// ログイン・新規登録ボタン新規登録ボタン
@mixin btn($background:#fff,$height:30px,$width:auto) {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 20px;

  margin: 0.2% 1%;
  padding: 3px 10px;

  height: $height;
  width: $width;
  font-size: 14px;
  background: $background;

  outline: none;
}