@import '../mixin/color';

// ログイン・新規登録ボタン新規登録ボタン
@mixin btn($background:$background-color-white,$height:30px,$width:auto) {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $color-black;
  border-radius: 20px;

  margin: 0.2% 1%;
  padding: 3px 10px;

  height: $height;
  width: $width;
  font-size: 14px;
  background: $background;

  outline: none;
}

// 前のページに戻るボタン
@mixin back {
  position: absolute;
  top: 30px;
  left: 15%;
  color: $color-black;
}